/*-----------------------------Theme by Rishikesh   http://drupal.org/user/198692----------------------------------------*/
 /*------------------------------------------rishikesh579@gmail.com----------------------------------------------------*/

/*--------------------------------------- Page layout style rules here ------------------------------------- */

html {
height: 100%;
margin-bottom: 1px;
background:#000000;
}

body {
margin: 0;
padding: 0;
font-size: 13px;
line-height: 135%;
font-family: Arial, Helvetica, sans-serif;
color: #A69E90;
}

#page_bg {
background-image:url(images/header.jpg);
height:162px;
}

#mainbody {
background:  url(images/mainright-bg.jpg) 0 0 repeat-y;
background-position:right;
width:900px;
display:block;
float:left;
}

#maincontainer {
width:868px;
display:block;
background:#FFFFFF;
float:left;
}

div#wrapper {
margin: auto;
width: 900px;
}

div#header {
height:168px;
display:block;
margin:auto;
width:900px;
}

div#main.column {
float:left;
display:block;
width:660px;
background:#39302B;
}

.mainbody {
width:614px;
display:block;
float:left;
padding: 0;
background:#39302B;
}

#squeeze {
display:block;
border-left:10px solid #311C18;
margin-top:0px;
float:left;
padding-bottom:5px;
}

.node, .profile {
padding-left:25px!important;
padding-right:25px!important;
}

dl.admin-list {
margin-left:25px;
}

div#maim.column {
padding:20px;
}

.contentheading {
padding: 10px 0;
margin-top: 10px;
margin-bottom: 10px;
line-height:100%;
color: #99CC00;
}
#sidebar-right {
width:240px;
float:left;
display:block;
background:  url(images/right-bg.png) 0 0 repeat-y
background-position:right;
}

#siteName {
display:block;
float:left;
font-size:28px;
font-weight:bold;
height:30px;
line-height:28px;
margin-top:45px;
width:420px;
margin-left:-175px;
}

img#logo {
float:  left;
margin-left: 20px;
height: 162px;
}

/*------------------------Genral Fonts & heading style & Links style rules here-----------------------------*/


p {
  margin-top: 10px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h4 {
	padding-bottom: 5px;
	margin: 15px 0;
}


h1 {
	font-size: 200%;
}

h2 {
	font-size: 180%;
}

h3 { 
   font-size: 150%;
}

h4 {
	font-size:  120%;
}

h1.title {
color:#20AB8B;
font-size:24px;
margin-left:25px;
}

h1.title a {
margin-left:-25px;
cursor:pointer;
}

.contentheading {
font-size: 200%;
font-weight: bold;
}

a:link,
a:visited {
color: #20AB8B ;
text-decoration: none;
}

a:hover {
text-decoration: underline;
color:#c6c729;
}

a.feed-icon {
margin:10px 10px 10px 25px;
display:block;
}

#bread {
font-weight: bold;
padding-left:25px;
padding-top:5px;
display:block;
height:25px;
clear:both;
background:#F5F7B5;
}

.terms {
margin-left: -3px;
}

.hide {
display: none;
}

form {
border: 0;
margin: 0;
padding: 0;
}

.clr {
clear: both;
}
div#horiz-menu {
background: url(images/menu-bg.png) 0 0 repeat-x;
height: 36px;
}

#navigation {
display:block;
width:880px;
margin:auto;
text-align:center;
}

ul.menu li {
list-style-image: none;
list-style-type: none;
background:beige;
}

ul.menu li a {
padding: 4px 0px 2px 28px;
background: url(images/menu-bullet.png) 0 0 no-repeat;
}

ul.menu li ul.menu li {
padding-left: 25px;
}

.block ul {
padding: 0;
}

ul.menu li {
margin: 0;
}

li.collapsed, li.leaf {
padding: 0;
}

ul.links li {
padding: 0 1em 0 0;
}

div#horiz-menu ul {
margin: 0;
padding: 6px 0 0 0;
}

div#horiz-menu li {
margin: 0;
padding: 0;
padding-right: 2px;
float: left;
list-style: none;
background: url(images/menu-divider.png) 100% 0 repeat-y;
}

div#horiz-menu a:link,
div#horiz-menu a:visited {
display: block;
float: left;
padding: 0 25px;
height: 30px;
line-height: 30px;
font-weight: bold;
color: #F7FB6B;
text-decoration: none;
}

div#horiz-menu a:hover {
background: #AB0000;
}
div#horiz-menu a.active {
background: #AB0000;
}

/*------------------------------------------Block style rules here--------------------------------------------*/

#bottom_left {
 width: 402px;
float:left;
display:block;
margin-top:20px;
background:#ECFFD5 none repeat scroll 0%;
border:1px solid #C6E39C;
}

#bottom_right {
width: 402px;
float:left;
display:block;
margin-top:20px;
margin-left:20px;
background:#ECFFD5 none repeat scroll 0%;
border:1px solid #C6E39C;

}

#top_left {
display:block;
float:left;
width:308px;
margin-top:10px!important;
background:#ECFFD5;
border:1px solid #c6e39c;
}

#top_right {
width:308px;
float:left;
display:block;
margin-left:10px !important;
margin-top:10px!important;
background:#ECFFD5;
border:1px solid #c6e39c;

}

.block  {
border:10px solid #3F3F3F;
padding:2px;
}

.block .content {
margin:10px;
text-align:justify;
color:#333333;
}
.block h2 {
text-align:center;
margin:0px;
padding:5px;
border:1px solid;
background:#F5F7B5;
color:#20AB8B;

}
#sidebar-right .block  {
background: #75BB8B url(images/block_bg.jpg);
background-position:top;
background-repeat:no-repeat;
margin:10px auto;
margin-bottom:20px;
width:200px;
border:10px solid #60340D;
}

#sidebar-right .block li {
display:block;
margin-bottom:3px;
padding:2px;
border-bottom:1px solid #C6E39C;
}

#sidebar-right .block li a {
color:#333333;
}

.block li a:hover, .block li a.active {
color:#ab0000!important;
}

#contentblock {
background: #79A57A url(images/bottom-bg.png) 0 0 repeat-x;
background-position:top;
float:left;
display:block;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
border-bottom:10px solid #311C18;
margin-bottom:20px;
}

#contentblock .block h2, #bottom .block h2 {
font-size:18px;
font-weight:400;
background:#D7F7B5;
}

#bottom .block h2 {
color:#AB0000;
 }
 
div.moduletable h2 {
color:#AB0000;
font-size:130%;
}
 
div#bottom {
background: #79A57A url(images/bottom-bg.png) 0 0 repeat-x;
background-position:top;
width:880px;
display:block;
float:left;
border:10px solid #311C18;
padding-bottom:20px;	
}

/* ----------------------------------- footer style rules ---------------------------------------*/

#footer { 
clear: both; 
text-align:center; 
background:#F5F7B5;
border-top:0px!important;
border-left:10px solid #311C18;
border-right:10px solid #311C18;
border-bottom:10px solid #311C18;
display:block;
padding-top:2px;
color:#333333;
}

#footer a {
color:#ab0000;
}

#footer a:hover {
color:#20AB8B;
}
/*--------------------admin style over-ride for-----------------------------------------*/
div.admin .right {
display:block;
width:45%!important;
float:left;
}
div.admin .left {
display:block;
width:45%!important;
float:left;
}